<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.coeustec" android:versionCode="1" android:versionName="0.0.1">
	
	<application android:icon="@drawable/icon" android:label="@string/mainapp_name" >
		<activity android:name=".app.MainApp" android:label="@string/mainapp_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
   
    <activity android:name=".ui.WelcomeScreen"></activity>
    <activity android:name=".ui.LoginScreen"></activity>
    <activity android:name=".ui.SettingScreen"></activity>
    <activity android:name=".ui.DeviceListScreen"></activity>
    <activity android:name=".ui.AlarmScreen" android:launchMode="singleInstance"></activity>
    <activity android:name=".ui.BulbScreen" android:launchMode="singleInstance"></activity>
    <activity android:name=".ui.AirConditionerScreen" android:launchMode="singleInstance"></activity>
    <activity android:name=".ui.TvScreen" android:launchMode="singleInstance"></activity>
    
	</application>

  <uses-sdk android:minSdkVersion="6" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.RECEIVE_MMS" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.READ_SMS" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.RESTART_PACKAGES" />
  <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
  <uses-permission android:name="android.permission.INTERNET" />
	
</manifest>

